.articleContainer {
  background-color: white;
  width: 940px;
  margin-top: 26px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);

  .titleArticleContainer {
    font-size: 20px;
    color: #1890FF;
    align-items: center;
    margin: 0;
    padding: 2px 0;
    //margin-right: 12px;
  }

  .h1LikeCount {
    display: flex;

    h1{
      font-size: 20px;
      color: #1890FF;
      cursor: pointer;
    }

    .likeCount {
      padding-left: 20px;
      background: no-repeat url("../../pictures/heart.svg") left bottom 40%;
      margin-left: 13px;
      margin-bottom: 7px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .redHeart{
      padding-left: 20px;
      background: no-repeat url("../../pictures/red-heart.svg") left bottom 50%;
      margin-left: 13px;
      margin-bottom: 6px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .buttonSmallContainer{
    text-align: right;
    margin-top: 30px;
    position: relative;

    .buttonSmall{
      font-size: 14px;
      padding: 3px 17px;
      border-radius: 5px;
      text-transform: none;
      margin-left: 12px;
    }

    .buttonDelete{
      border: 1px solid #F5222D;
      color: #F5222D;
    }
    .buttonEdit{
      border: 1px solid #52C41A;
      color: #52C41A;
    }

    .dialogWindow{
      position: absolute;
      left: 140px;
      z-index: 2;
      width: 250px;
      height: 124px;
      padding: 12px 20px;
      border-radius: 4px;
      background: no-repeat url("../../pictures/window-dialog.png") transparent;
      filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));

      p{
        font-size: 14px;
        text-align: left;
        margin-bottom: 10px;
        background: no-repeat url("../../pictures/caution.svg") left 5px;
        padding-left: 20px;
      }

      .buttonDialog {
        font-size: 14px;
        text-transform: none;
        text-decoration: none;
        color: inherit;
        padding: 1px 8px;
        border-radius: 5px;
        border: 1px solid #D9D9D9;
        transition: 0.2s;
        margin-left: 8px;


        &:hover {
          color: white;
          border: 1px solid #1890FF;
          background-color: #1890FF;
        }
      }
    }
  }


  .tagList {
    display: flex;
    margin: 4px 0;

    &__tag {
      padding: 2px 5px;
      margin-right: 8px;
      border-radius: 3px;
      border: 1px solid black;
    }
  }

  .authorBlog {
    display: flex;
    justify-content: flex-end;

    &__data{
      margin-right: 12px;
      text-align: right;

      .authorName{
        font-size: 18px;
      }
      .authorDate{
        color: #808080;
      }
    }

    &__poster {
      width: 45px;
      height: 45px;
    }
  }
}