.articleContainer {
  background-color: white;
  width: 940px;
  margin-top: 26px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);

  .titleArticleContainer {
    font-size: 20px;
    color: #1890FF;
    align-items: center;
    margin: 0;
    padding: 2px 0;
    //margin-right: 12px;
  }

  .h1LikeCount {
    display: flex;

    h1{
      font-size: 20px;
      color: #1890FF;
    }

    .likeCount {
      padding-left: 20px;
      background: no-repeat url("../../pictures/heart.svg") left bottom 40%;
      margin-left: 13px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .redHeart{
      padding-left: 20px;
      background: no-repeat url("../../pictures/red-heart.svg") left bottom 40%;
      margin-left: 13px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .buttonSmallContainer{
    text-align: right;
    margin-top: 30px;

    .buttonSmall{
      font-size: 14px;
      padding: 3px 17px;
      border-radius: 5px;
      text-transform: none;
      margin-left: 12px;
    }

    .buttonDelete{
      border: 1px solid #F5222D;
      color: #F5222D;
    }
    .buttonEdit{
      border: 1px solid #52C41A;
      color: #52C41A;
    }
  }


  .tagList {
    display: flex;
    margin: 4px 0;

    &__tag {
      padding: 2px 5px;
      margin-right: 8px;
      border-radius: 3px;
      border: 1px solid black;
    }
  }

  .authorBlog {
    display: flex;
    justify-content: flex-end;

    &__data{
      margin-right: 12px;
      text-align: right;

      .authorName{
        font-size: 18px;
      }
      .authorDate{
        color: #808080;
      }
    }

    &__poster {
      width: 45px;
      height: 45px;
    }
  }
}