*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url("./fonts/Roboto-Bold.ttf") format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url("./fonts/Roboto-Italic.ttf") format('ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("./fonts/Roboto-Medium.ttf") format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("./fonts/Roboto-Regular.ttf") format('ttf');
    font-weight: 400;
}

html{
    /*background-color: #c6103e;*/
    background-color: #EBEEF3;
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #4A4A4A;
    line-height: 1.4em;
    margin: 0 auto;
    font-weight: 300;
}

#root{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #262626;
}

