.articleNavbar {
  padding: 8px 0;
  font-size: 18px;

  .brand{
    font-size: 18px;
  }
  .userData{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 13px 0 25px;

    a{
      margin-right: 13px;
      text-decoration: none;
      color: black;
    }
  }

  .buttonNavBar {
    text-decoration: none;
    color: inherit;
    padding: 12px 23px;
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.2s;
    margin-left: 15px;

    &:hover {
      color: #52C41A;
      border: 1px solid #52C41A;
    }
  }
  .buttonCreateArticle{
    font-size: 14px;
    border: 1px solid #52C41A;
    padding: 6px 10px;
    color: #52C41A;
  }

  .buttonLogOut{
    border: 1px solid black;
  }
}
